{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Shop</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container d-flex align-items-center justify-content-between px-4 py-2">
            <!-- Логотип слева -->
            <div class="logo">
                <h2 class="m-0">Pizza Shop</h2>
            </div>

            <!-- Меню справа -->
            <nav class="header-nav">
                <ul class="nav-list d-flex align-items-center gap-4 m-0">
                    <li>
                        <a href="{% url 'main:popular_list' %}" class="nav-item {% if request.resolver_match.url_name == 'popular_list' %}active{% endif %}">
                            <span class="material-symbols-outlined">home</span>
                            <span class="nav-text">HOME</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'main:product_list' %}" class="nav-item {% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">
                            <span class="material-symbols-outlined">local_pizza</span>
                            <span class="nav-text">PRODUCTS</span>
                        </a>
                    </li>
                    {% comment %} <li><a href="#" class="nav-item">
                        <span class="material-symbols-outlined">local_bar</span>
                        <span class="nav-text">DRINKS</span>
                    </a></li> {% endcomment %}
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url "user:profile" %}" class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                            <span class="material-symbols-outlined">person</span>
                            <span class="nav-text">PROFILE</span>
                        {% else %}
                            <a href="{% url "user:login" %}" class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                            <span class="material-symbols-outlined">login</span>
                            <span class="nav-text">LOGIN</span>
                        {% endif %}
                        
                    </a></li>
                    {% comment %} <li><a href="{% url "user:profile" %}" class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                        <span class="material-symbols-outlined">person</span>
                        <span class="nav-text">PROFILE</span>
                    </a></li> {% endcomment %}
                    <li class="position-relative">
                        <a href="{% url 'cart:cart_detail' %}" class="nav-item {% if request.resolver_match.url_name == 'cart_detail' %}active{% endif %}">
                            
                            <span class="material-symbols-outlined">shopping_bag</span>
                            <span class="nav-text">CART</span>
                        </a>
                        {% with cart_quantity=cart|length %}
                            <p class="cart_quantity position-absolute top-0 start-90  translate-middle badge rounded-pill ">
                                {% if cart_quantity > 0 %}
                                    {{ cart_quantity }}
                                {% else %}
                                    0
                                {% endif %}
                            </p>
                        {% endwith %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Контент страницы -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>